<template>
<div class="com">
<strong class="pseudo"> {{pseudoUser}} :</strong> 
<a class ="text">{{content}}</a>
<button :style="VisibilityButton" @click="deleteCom()">X</button>
</div>
    
</template>

<script>
import { API } from "../service/api"


export default {
  name: 'Comment',

  data(){
    return{
      pseudoUser:"",
      permission:false,
    }
  },

  props: {

    id:{
      type:Number
    },

    idMsg: {
      type:Number
    },

    idUser:{
      type:Number
    },

    content:{
      type:String,
      required: true
    }
  },

  created() { 
    const userId = localStorage.getItem("idUserCo");
    const role = localStorage.getItem("role");
    API.getOneUser(this.idUser)
    .then(userFound => { 
      this.pseudoUser = userFound.pseudo;
      if(userId == this.idUser || role === 'admin'){
        this.permission = true;
      }else{
        this.permission = false;
      }
    })
  },   

  methods:{

    deleteCom(){
      const token = localStorage.getItem("token");
      const userId = localStorage.getItem("idUserCo");
      const UserConnected = {idUser:userId} ;
      API.deleteCom(this.id,UserConnected,token)
      .then(() =>  API.getAllComs(token)).then((data)=>{
        this.$store.commit("changeDataComMsg",data);
      })
    }
  },

  computed:{
    VisibilityButton: function() {
      let style ="";
      if(this.permission == false){
        style = "visibility:hidden";
      }
      else{
        style = "visibility:visible";
      }
      return style;
    }

  }
  
}
</script>

<style lang="scss">
.com{
  display: flex;
  align-items: center;
  padding: 2px;
  .text{
    flex: 8;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    &:hover{
     white-space: inherit;
    }
  }
  .pseudo{
    flex: 2;
    white-space: nowrap;
  }
  button{   
    flex: 1;
  }
}
</style>