<template>
    <div class="actu">
        <h2>Fil d'actualité</h2>
        <router-link id="new" to="/newpost">Une idée? Ecrivez un nouveau post</router-link>
        <Post 
        v-for="message in allMsgFromStore"
        :id="message.id"
        :idUser="message.UserId"
        :content="message.content"
        :titre="message.titre"
        :nbLike="message.likes"
        :key="message.id"  />
    </div>
</template>
<script>
import Post from "./Message.vue"
import { API} from "../service/api"

export default{
    name:"FilActu",
    components: {
        Post
    },

    created() {
        const token = localStorage.getItem("token");
        API.getAllMsg(token) 
            .then(data => {
                this.$store.commit("changeDataMsg",data);
            })
        API.getAllComs(token)
        .then(data => {
            this.$store.commit("changeDataComMsg", data)
        })
    },
    computed: {
        allMsgFromStore () {
        return this.$store.state.allMsg
        }
    },
}
</script>