<template>
<div class="contenu">
<h3>Écrit par {{pseudoUser}} </h3>
  <div class="post">
    <h4> {{titre}} </h4>
    <p>{{content}} </p>
    <div class="butonsMsg">
       <button v-if="permission" @click="deleteMsg()">supprimer</button>
    </div>
  </div>
  <div class="commentaires">
    <Com
    v-for="comment in allComsFromMsg"
    :id="comment.id"
    :idMsg="comment.MessageId"
    :idUser="comment.UserId"
    :content="comment.content"
    :key="comment.id"/>
  </div>
  <div class="createCom">
      <input type="text" v-model="contenu" placeholder="Ecrivez un commentaire">
      <button @click="postCom({idMessage:null,idUser:null,content:contenu})">poster</button>
    </div>
</div>
</template>

<script>

import { API } from "../service/api"
import Com from "./Commentaire.vue"

export default {
  name: 'Message',

  components: {
    Com
  },

  data(){
        return{
            contenu:"",
            pseudoUser:"",
            permission:false,
        }
    },

  created() { 
    const userId = localStorage.getItem("idUserCo");
    const role = localStorage.getItem("role");
    API.getOneUser(this.idUser)
    .then(userFound => { 
      this.pseudoUser = userFound.pseudo;
      if(userId == userFound.id || role === 'admin'){
        this.permission = true;
      }
      else{
        this.permission = false;
      }
    })
    },   

  props: {

    id: {
      type:Number,
      required: true
    },

    idUser:{
      type:Number
    },

    titre:{
      type:String
    },

    content:{
      type:String,
      required: true
    },
    nbLike:{
      type:Number,
      defaut:0
    }

  },
  methods:{
    postCom(data){
      data.idMessage = this.id;
      data.idUser = localStorage.getItem("idUserCo");

      const token = localStorage.getItem("token");
      API.createCom(data,token).then(() =>  API.getAllComs(token)
        .then(data => {
        this.$store.commit("changeDataComMsg",data);
        }));
    },

    deleteMsg(){
      const UserConnected = {idUser:localStorage.getItem("idUserCo")} ;
      const token = localStorage.getItem("token");
      API.deleteMsg(this.id,UserConnected,token)
      .then(() => {
        API.getAllMsg(token)
        .then(data => {
          this.$store.commit("changeDataMsg",data);
        })
      })
    }
  },
  computed:{
    allComsFromMsg(){
      let comments = [];
      this.$store.state.allComments.forEach(comment => {
        if(comment.MessageId == this.id){
          comments.push(comment);
        } 
      });
      return comments;

    }

  }
}
</script>
<style lang="scss">
h3,h4{
  margin: 10px;
  text-overflow: ellipsis;
  overflow: hidden;  
}
.post{
  padding: 10px;
  background-color: white;
   p{
  text-overflow: ellipsis;
  overflow: hidden;  
  } 

}
.commentaires{
  padding: 5px 0;
}
.butonsMsg{
  display: flex;
  justify-content: space-evenly;

}
.contenu{
  padding: 5px;
  margin:15px auto;
  width: 70%;
  border-radius: 15px;
  box-shadow: 0px 1px 10px black ;
}
.createCom{
  display: flex;
  input{
    flex: 6;
  }
  button{
    flex: 1;
    border-radius: 15px;
    position: relative;
    left: -15px;
  }
}

</style>

