 <template>
  <div id="app">
    <div class="header">
      <img class="header-logo" alt="Groupamia logo et text" src="./assets/icon-left-font-monochrome-white.png">
      <div id="nav">
        <router-link v-if="isConnected" to="/">Home</router-link>
        <router-link to="/signin" style="display:none"></router-link>
        <router-link v-if="isConnected"  to ="/profil" >Profil</router-link>
      </div>
    </div>
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'App',

  data(){
    return{
      isConnected:false
    }
  },
  
  updated() {
    const token = localStorage.getItem("token");
    if(token){
      this.isConnected = true;
    }else{
      this.isConnected = false;
    }
    
  },
  created(){
    const token = localStorage.getItem("token");
    if(token){
      this.isConnected = true;
    }else{
      this.isConnected = false;
    }
    
  }
}
</script>


<style lang="scss">
body{
  background-color: rgb(6, 58, 100);
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 20px;
  min-width: 385px;
  max-width: 984px;
  margin: auto;
}
.header{
  position: sticky;
  top: 0px;
  z-index: 3;
  margin-bottom: 10px;
  background-color: rgb(6, 58, 100);
}
.header-logo{
  width: 100%;
  max-width: 700px;
  height: 120px;
  object-fit: cover;
}
#new{
  text-decoration: none;
  font-weight: bold;
  &:hover{
    color: red;
  }
}
#nav {
  width: 100%;
  display: flex;
  a {
    color: white;
    font-weight: bold;
    flex: 1;
    text-decoration: none;
    border-bottom: 5px solid #f2f2f2;
    &.router-link-exact-active{
      color: red;
      border-bottom: 5px solid red
    }
    &:hover {
      color: red;     
    }
  }
}
button{
  border-radius: 15px;
  &:hover{
    background-color: red;
    color: white;
    box-shadow: 2px 5px 5px darken(gray,30%);
    filter:brightness(1.2);
    transition: all 1s;
  }
}
input{
  border-radius: 15px;
  padding-left: 10px;
  &:focus{
    border: solid;
  }
}

@keyframes progressiv{
    0%{
        opacity: 0;
        transform: translateY(20px) ;
    }
    100%{
        opacity: 1;
    }
}
$page:"home";
@each $contenu in $page{
    .#{$contenu}{
        animation: progressiv 1.5s backwards;
    }

}
  
</style>
