<template>
  <div class="home">
    <FilActu v-if="hasToken" />
  </div>
</template>

<script>
import FilActu from "@/components/FilActu.vue";

export default {
  name: "Home",
  components: {
    FilActu,
  },
  data(){
    return{
      hasToken:false

    }
  },
  created(){
    const token = localStorage.getItem("token");
    if(token !== null){
      this.hasToken = true;
    }
    else{
      this.$router.push("signin");
    }
  }
};
</script>

<style>
.home {
  background-color: whitesmoke;
  border-radius: 40px;
  padding: 10px;
  height: 100%;
}
</style>
