<template>
    <div class="home">
        <h3>Créer un nouveau Post sur le forum</h3>
        <div class="title">
        <input type="text" v-model="title" placeholder="Titre du post">
        </div>
        <div class="content">
        <textarea type="text" v-model="content" placeholder="Ecrivez ce que vous désirez ici"></textarea>
        </div>
        <button @click="postMsg({titre:title,content:content,idUser:null})">Poster votre message</button> 
    </div>
</template>
<script>
import { API } from "../service/api"
import FilActu from "../components/FilActu.vue"


export default {
    name:"Newpost",

    component:{
        FilActu
    },
    methods:{
        postMsg(data){
            data.idUser = localStorage.getItem("idUserCo");
            const token = localStorage.getItem("token");
            API.createMsg(data,token).then(() =>  API.getAllMsg(token)
            .then(data => {
                this.$store.commit("changeDataMsg",data);                
            }));
            this.$router.push({name:"Home"});
        }
    },
    data(){
        return{
            content:'',
            title:''
        }
    }

}
</script>

<style lang="scss" scoped>
textarea{
    border-radius: 15px;
    padding-left: 10px;
    width: 90%;
    height: 150px;
}
input{
    width: 50%;
    margin-bottom: 10px;
}
</style>
