<template>
  <div class="home">
  <h3> {{pseudo}}</h3>
  <p>E-Mail: {{mail}} </p>
  <p>Admin: {{role}}</p>
  <button @click="decoUser()">Se déconnecter</button>
  <button @click="supprimeUser()" >Supprimer le compte</button>
  </div>
</template>

<script>
import { API} from "../service/api"

export default {
  name: "Profil",

  data(){
    return{
      pseudo: '',
      mail: '',
      role:''
    }
  },
  created(){
    const userId = localStorage.getItem("idUserCo");
    API.getOneUser(userId)
    .then(userFound => { 
      this.pseudo = userFound.pseudo;
      this.mail = userFound.email;
      if(userFound.role === 'user'){
        this.role='non';
      }else{
        this.role='oui';
      }
    })
    
    
  },
  methods:{
    decoUser(){
      this.$store.commit("videStore");
      localStorage.clear();
      this.$router.push({name:'Signin'});    
    },
    supprimeUser(){
      const token = localStorage.getItem("token");
      const userId = localStorage.getItem("idUserCo");
      API.deleteUser(userId,token).then(data => {
        alert(data.message);
        this.$store.commit("videStore");
        localStorage.clear();
        this.$router.push({name:'Signin'});  
      })     
    }

  }

};
</script>

<style scoped>
.home {
  height: 100%;;
}
</style>