<template>
<div class="home">
  <div class="info">
    <h2>{{erreur}}</h2>
    <div class="username">
      <input type="email" v-model="mail" placeholder="Addresse E-mail">
    </div>
    <div class="password">
      <input type="password" v-model="pass" placeholder="Mot de Passe">
    </div> 
  </div>
  <button @click="connectUser({email:mail,password:pass})">Se connecter</button>
  <div>
    <h3>Pas encore de compte?</h3> 
    <router-link id="new" to = '/signup'>Créer un nouveau compte</router-link>
  </div>
</div>
</template>

<script>
import { API } from "../service/api"

export default {

    name: "Signin",

    data(){
        return{
            mail:"",
            pass:"",
            erreur:"",
        }
    },

    methods: {
        connectUser(data){
            API.connexion(data)
              .then((data) => {
                localStorage.setItem("idUserCo", data.user);
                localStorage.setItem("role",data.role);
                localStorage.setItem("token", data.token);
                if(data.user && data.token){
                  this.$router.push({name:"Home"});    
                }
                else{
                  this.erreur = data.error;
                }
              });
        }

    }
}
</script>

<style lang="scss" >
.info{
  padding: 10px;
}
.username, .password,.name{
  margin-bottom: 5px;
}
.info h2{
     color: red;
 }
</style>

