<template>
<div class="home">
    <h1>Pour se créer un nouveau compte, rien de plus simple!</h1>
    <div class="info">
        <h2>{{erreur}}</h2>
        <div class="name">
        <input type="text" v-model="name" placeholder="Pseudo">
        </div> 
        <div class="username">
        <input type="email" v-model="mail" placeholder="Addresse E-mail">
        </div>
        <div class="password">
        <input type="password" v-model="pass" placeholder="Mot de Passe">
        </div> 
    </div>
    <button @click="retourConnexion()">Retour</button>
    <button @click="inscritpion({email:mail,pseudo:name,password:pass})">S'inscrire</button>
</div>
</template>

<script>
import { API} from "../service/api"

export default {
    name: "Signup",

    data(){
        return{
            name:"",
            mail:"",
            pass:"",
            erreur:"",
        }
    },

    methods: {
        inscritpion(data){
            API.inscritpion(data)
            .then((reponse) =>{
                if(reponse.userId){
                    delete data.pseudo;
                    API.connexion(data)
                    .then((data) => {
                        localStorage.setItem("idUserCo", data.user);
                        localStorage.setItem("role",data.role);
                        localStorage.setItem("token", data.token);
                        if(data.user && data.token){
                            this.$router.push({name:"Home"});    
                        }else{
                            this.erreur = data.error;
                        }
                    }); 
                }else{
                    this.erreur = reponse.error;
                }
            })
        },
        retourConnexion(){
            this.$router.push("signin");
        }

    }
}
</script>

